

header{
background-color: yellow;
height:30vh ;
}

section{
background-color: orange;
height:60vh ;
}

footer{
  background-color: green;
  height:10vh ;
}
h1{
  margin: 0;
}
p{
  margin: 0;
}

body{
margin: 0;  
}
