/* LAYOUT*/

header {
  background-color: yellow;
  height: 20vh;
}

section {
  background-color: orange;
  height: 60vh;
}

footer {
  background-color: green;
  height: 20vh;
  text-align: center;
  margin: 0;
}

h1 {
  text-align: center;
  margin: 0;
}

p {
  margin: 0;
  text-align: left;
}

html, body {
  margin: 0;
  font-size: calc(13px + 1vw);

}



.container {
  padding: 2em;
}
/*TYPOGRAPHY*/
html{
font-family: 'Righteous', cursive;
}

footer a {
  text-decoration: none;
  color: aqua;
}

h1{
  font-family: 'Luckiest Guy', cursive;
}
