/* LAYOUT*/

header {
  background-color: yellow;
  height: 35vh;
  overflow: hidden;
}

section {
  background-color: orange;
  height: 55vh;
  overflow: hidden;
}

footer {
  background-color: green;
  height: 10vh;
  text-align: center;
  margin: 0;
  overflow: hidden;
}

h1 {
  text-align: center;
  margin: 0;
}

p {
  margin: 0;
  text-align: left;
}

html, body {
  margin: 0;
  font-size: calc(14px + 1vw);
}

.container {
  padding: 0.8em;
}
    a {
      margin: 1em;
    }
  /*TYPOGRAPHY*/
  html {
    font-family: 'Righteous', cursive;
  }
  footer a {
    text-decoration: none;
  }
  h1 {
    font-family: 'Luckiest Guy', cursive;
    font-size: 2rem;
  }
  /*Color*/
  footer a {
    color: aqua;
  }
  a:hover {
    color: aquamarine;
    text-shadow: aqua 2px 2px 1px;
  }
  h1 {
    color: #0a75e1;
  }
  p {
    color: white;
  }
  header {
    background-color: black;
  }
  section {
    background-color: #0a75e1;
  }
  footer {
    background-color: black;
  }
